OPENCAGE_API_KEY=geocoderkey
ISS_API=https://api.wheretheiss.at/v1/satellites/25544
#database
DB_HOST=localhost
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_PORT=5432

#file location for json data
do not use slash "/"
JSON_FILE_NAME=for instance data.json
JSON_DIRECTORY_NAME=folder name for instance jsonlake

POLLING_INTERVAL=50