OPENCAGE_API_KEY=geocoderkey
ISS_API= iss api
#database
DB_HOST=
DB_NAME=wheretheiss or what you want
DB_USER=postgres
DB_PASSWORD=
DB_PORT=

#file location for json data
do not use slash "/"
JSON_FILE_NAME=for instance data.json
JSON_DIRECTORY_NAME=folder name for instance jsonlake